@model ProjectAgile.UI.Models.AgileBoardViewModel

<h2>Agile Board</h2>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-10 col-lg-8 text-center">
        <h1 class="display-5 mb-3">Nueva Historia</h1>
        <a asp-controller="Usuario" asp-action="Create">+ Nuevo usuario</a>

        <form method="post" action="/Story/Create" class="row g-2 justify-content-center align-items-center">
            <div class="col-auto" style="min-width:180px;">
                <input name="title" placeholder="Titulo" class="form-control" />
            </div>

            <div class="col-auto" style="min-width:180px;">
                <input name="description" placeholder="Descripcion" class="form-control" />
            </div>

            <div class="col-auto" style="min-width:220px;">
                <select name="assignedTo" class="form-select">
                    <option value="">Seleccione un usuario</option>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Nombre @user.Apellido">@user.Nombre @user.Apellido</option>
                    }
                </select>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>

<div class="row g-3">
    @foreach (var column in Model.Columns)
    {
        @await Html.PartialAsync("_Column", column)
    }
</div>